@use 'variaveis' as *;
@use "sass:math";

// ================= BASE =================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $color-light;
  color: $color-dark;
  line-height: 1.6;
}

// UTILITÁRIOS
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: $color-primary;
  margin-bottom: $spacing-lg / 2; // OPERADOR
}