// ================= VARIÁVEIS =================

// Cores
$color-primary: #0a3d62;
$color-secondary: #3c6382;
$color-accent: #82ccdd;
$color-light: #f9f9f9;
$color-dark: #1e272e;

// Fonte
$font-main: "Poppins", Arial, sans-serif;

// Espaçamentos
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;